<div class="main-div">
  <h1 class="heading">SHOW USER'S DATA USING FAKE API</h1>
  <div class="user_card">
    <img [src]="usersData?.picture?.large">
    <div class="name-class">
      <span class="name-span"><strong>{{usersData?.name?.title}} {{usersData?.name?.first}}
          {{usersData?.name?.last}}</strong></span>
      <span class="name-span"><strong>{{usersData?.email}}</strong></span>
    </div>
  </div>
  &nbsp;
  &nbsp;
  <span>
    <strong>Latitude</strong>
    <input type="number" (keydown)="getlatitude($event)">
  </span>
  <span>
    <strong>Longitude</strong>
    <input type="number" (keydown)="getLongitude($event)">
  </span>
  <button (click)="getWeatherReport()">
    GET CURRENT WEATHER REPORT
  </button>

  <h1 class="heading">SHOW TEMPERATURE AND TIME BASED ON LATITUDE AND LONGITUDE</h1>
  <span class="name-span"><strong>{{weatherReport?.current?.temperature_2m}}
      {{weatherReport?.current_units?.temperature_2m}}</strong></span>
  <span class="name-span"><strong>{{weatherReport?.current?.time}}
      {{weatherReport?.current_units?.time}}</strong></span>
</div>

<h1 class="heading">CRUD FOR TASKS</h1>
<div class="tasks">
  <div>

    <div *ngFor="let task of tasks">
      <div class="task-main">
        <div>
          {{task?.id}}
        </div>
        &nbsp;&nbsp;
        <div>
          {{task?.name}}
        </div>
        &nbsp;&nbsp;
        <div>
          {{task?.email}}
        </div>
      </div>
    </div>
  </div>
  &nbsp;&nbsp;
  <div class="create-task">
    <span>
      <strong>Id</strong>
      <input type="number" id="id">
    </span>
    <span>
      <strong>TaskName</strong>
      <input type="text" id="name">
    </span>
    <span>
      <strong>Email</strong>
      <input type="text" id="email">
    </span>
    <button (click)="addTasks()">
      Add Task
    </button>
    <button (click)="updateTask()">
      Update Task
    </button>
  </div>

</div>
<span>
  <strong>DeleteTask</strong>
  <input type="number" id="delete">
</span>
<button (click)="deleteTask()">
  Delete Task
</button>